.mobile-nav {
    display: none;
}

.mobile-nav ul {
    width: 100%;
    background-color: rgb(100, 100, 100);
}

.mobile-nav ul li,  .mobile-nav ul li a, .mobile-nav ul li p {
    padding: 10px;
    color: #fff;
}


.mobile-nav .hamburger {
    position: absolute;
    top: 2%;
    right: 5%;
}

.mobile-nav .hamburger:hover {
    cursor: pointer;
}



@media screen and (max-width: 730px) {
    .mobile-nav {
        display: block;
    }
}