.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1%;
    background-color: rgb(66, 66, 66)
}

.header img{
    position: relative;
    width: 80px;
    border-radius: 100%;
}

.header img:hover{
    transform: scale(1.1);
    cursor: pointer;
}