.social-container {
    display: flex;
    flex: 1;
    align-items:center;
    justify-content: space-around;
    padding: 2%;
    /* background-color: rgb(0, 33, 46); */

}

.icon {
    text-align: center;
}

.icon:first-child{
    margin: 0% 0% 0% 0%;
}

.social-container img{
    width: 80px;
    height: 80px;
    border-radius: 25%;
}

.social-container img:hover{
    transform: scale(1.1);
}