.heading {
    display: flex;
    justify-content:space-around;  
}

.heading header {
    display: flex;
    font-size: 300%;
}

.aboutMe p{
    display: flex;
    text-align: left;
    line-height: 120%;
}